In [1]:
# Hidden cell for nbsphinx (check cell metadata)
import warnings
warnings.simplefilter('ignore')

# Photoionization cross-sections

In [2]:
from carsus.io.cmfgen import CMFGENPhotoionizationCrossSectionParser

Download and extract CMFGEN Atomic Data from http://kookaburra.phyast.pitt.edu/hillier/web/CMFGEN.htm

In [3]:
pho_cross_sections = CMFGENPhotoionizationCrossSectionParser('./atomic/SIL/II/16sep15/phot_nahar_A')

File header is stored in the *meta* attribute.

In [4]:
pho_cross_sections.meta

{'Date': '05-Sep-2015',
 'Number of energy levels': '93',
 'Number of photoionization routes': '2',
 'Screened nuclear charge': '2.0',
 'Final state in ion': '3s2_1Se/3s21Se',
 'Excitation energy of final state': '0.0',
 'Statistical weight of ion': '1.0',
 'Cross-section unit': 'Megabarns',
 'Split J levels': 'False',
 'Total number of data pairs': '95107'}

Attribute *base* is a list containing a DataFrame per configuration.

In [5]:
type(pho_cross_sections.base)

list

In [6]:
pho_cross_sections.base[0]

         Energy     Sigma
0      1.000000  1.414000
1      1.000333  1.405000
2      1.000666  1.397000
3      1.000999  1.388000
4      1.001332  1.379000
5      1.001665  1.370000
6      1.001998  1.361000
7      1.002331  1.351000
8      1.002663  1.342000
9      1.002996  1.333000
10     1.003329  1.323000
11     1.003662  1.313000
12     1.003995  1.303000
13     1.004328  1.294000
14     1.004661  1.283000
15     1.004994  1.273000
16     1.005327  1.263000
17     1.005660  1.252000
18     1.005993  1.242000
19     1.006326  1.231000
20     1.006659  1.220000
21     1.006992  1.209000
22     1.007325  1.197000
23     1.007657  1.186000
24     1.007990  1.174000
25     1.008323  1.162000
26     1.008656  1.150000
27     1.008989  1.137000
28     1.009322  1.125000
29     1.009655  1.112000
...         ...       ...
1457   2.304139  0.540200
1458   2.304762  0.511900
1459   2.304966  0.490800
1460   2.305235  0.518700
1461   2.305301  0.520000
1462   2.305325  0.506200
1463   2.547778  0.375000
1464   2.815730  0.277800
1465   3.111863  0.205800
1466   3.439141  0.152500
1467   3.800839  0.112900
1468   4.200577  0.083670
1469   4.642355  0.061990
1470   5.130596  0.045920
1471   5.670185  0.034020
1472   6.266524  0.025200
1473   6.925580  0.018670
1474   7.653949  0.013830
1475   8.458924  0.010250
1476   9.348557  0.007591
1477  10.331750  0.005623
1478  11.418350  0.004166
1479  12.619230  0.003086
1480  13.946410  0.002286
1481  15.413160  0.001694
1482  17.034180  0.001255
1483  18.825680  0.000929
1484  20.805590  0.000689
1485  22.993730  0.000510
1486  25.412010  0.000378

[1487 rows x 2 columns]

You can easily dump the data inside an HDF5 file. For example:

In [7]:
pho_cross_sections.to_hdf()

will dump all the cross-sections tables and metadata inside the file `phot_nahar_A.h5` located in the same path of the original file.